body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.wrapper{ 
    max-width: 1127px;
    width:100%;
    margin:0 auto;
}
.row::after{
    clear:both;
    content:"";
    display:block;
}
.w-1{ 
    width:100%;
    float:left;
}
.w-2{
    width: 50%;
    float:left;
}
.w-3{
    width: 33.33%;
    float:left;
}
.w-4{ 
    width:25%;
    float:left;
}
.w-5{ 
    width: 20%;
    float:left;
}
.w-7{ 
    width: 14.28%;
    float:left;
}
.align-right{
    text-align:right;
}
.flex{ 
    display: flex;
    align-items: flex-end;
}
#logo{
    margin: 10px 0 0 0;
}
#search{
    border-bottom: 1px solid #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 10px 0 43px 0;
}
#search input{
    font-size: 16px;
    color:#324950;
    background-color: transparent;
    border: none;
    max-width: 327px;
    height: 29px;
    width: 100%;
}
#search input::placeholder{
    color:#324950
}
#search button{
    background: url(../images/ico_search.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}       
#menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}        
#menu ul li{
    display: inline;
    margin-left: 15px;
}        
#menu ul li a{
    color:#324950;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}        
#menu ul li a:hover{
    color: #57984C;
} 
#slider{
    text-align: center;
    background: url(../images/bg.jpg) no-repeat center;
    padding: 338px 0;
    margin-top: -133px;
}       
#slider h1{
    color: #735440;
    font-size: 48px;
    font-weight: bold;
}       
#slider a{
    display: block;
    background-color: #57984C;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 160px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    text-decoration: none;
}  
#categories{
    text-align: center;
    padding: 45px 0;
    max-width: 1600px;
    margin: 0 auto;
}
#categories .row{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.text-category{
    margin-top: 20px;
}
#content-up{
    background: url(../images/Union.png) no-repeat center;
    background-color: #F7F7F7;
    font-size: 20px;
    padding: 78px 0;
}
.vision-mission {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 64px;
    font-weight: bold;
    color: #324950;
    line-height: 147.7%;
    margin: 0;
}
.subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #57984C;
    margin: 0;

}
.content-wrapper {
    text-align: left;
    margin-right: 30px;
}
.text-wrapper {
    text-align: left;
    margin-right: 30px;
}
.text-content{
    color: #324950;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 162.7%;
}
.img-content1{
    margin-left: 15px;
}
.img-content2{
    margin-right: 80px;
}
.crosses{
color: #57984C;
font-size: 20px;
}

#content-down{
background-color: #EDEDED;
text-align: center;
padding: 78px 0;
}
.seeds{
    display: flex;
    justify-content: center;
    align-items: baseline; 
}
.line{
    margin: 25px 0 10px 0;
}
.w-3 p{
    margin: 0;
}
.footer {
    background-color: #324950;
    color: #B9B9B9;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer p{
    margin: 0;
    padding: 20px 0;
}
.footer-content{
    display: flex;
    flex-direction: row;
    background-color:#2D3F45;
    padding: 15px 140px ;
    align-items: center;
    justify-content: space-around;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 13%;
}

#links-footer{
    font-family: 'Roboto', serif;
}        

#links-footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}        
#links-footer ul li{
    display: inline;
    margin-left: 3.5em;
}

#links-footer ul li a{
    color:#ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.4s;
}        

img {
    max-width: 100%;
    height: auto;
  }